
:root{
    --primario:rgb(58, 85, 207);
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 1.5em;
    width: 40%;
    margin: auto;
    padding: 2em;
    text-align: center;
    box-shadow: 0 0 10px 0 #efefef;
    border: 1px solid #ebebeb;
}
.displayResultado{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid white;
    height: 10em;
    width: 20em;
    gap: 2em;
    margin-bottom: 1em;
    background-color: white;
    border-radius: 1em;
    padding: 1em;
}
span{
    font-size: 2em;
    font-weight: bold;
    color: var(--primario);
}
button{
    background-color: var(--primario);
    color: white;
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 1em;
    cursor: pointer;
}
.btn-secundario{
    background-color: transparent;
    color: var(--primario) !important;
    border: 1px solid var(--primario) !important;
    padding: 1em;
    font-size: 1em;
}
.btn-secundario:hover{
    background-color: rgb(224, 232, 255);
}
.btn-terciario{
    background-color: grey !important;
}
.btn-terciario:hover{
    background-color: rgb(109, 109, 109) !important;
}
#calcularPropinaBtn{
    padding: 1em 3em;
    border-radius: 10em;
}
#calcularPropinaBtn:hover{
    background-color: rgb(26, 42, 114);
}
input{
    background-color: white;
    border: none;
    padding: 1em 1.5em;
    border-radius: 1em;
    text-align: center;
    color: var(--primario);
    font-size: 1em;
    font-weight: bold;
}
.monto-container{
    display: flex;
    flex-direction: column;
}
.propina-container{
    display: flex;
    flex-direction: column;
}
.propina-container div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}